@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вы сбросили пароль. Пожалуйста <a asp-page="./Login">нажмите для входа</a>.
</p>
