@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Данные профиля";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит данные которые вы передаете нам. Это страница предназначена для загрузки и удаления данных.</p>
        <p>
            <strong>Удаление данных аккаунта происходит навсегда и не может быть восстановлено.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Загрузить</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
